.adminpage
  max-width: 1000px
  margin: 0 auto
  background-color: rgb(245, 245, 245)
  padding: 30px 20px 60px 20px
  box-sizing: border-box
  text-align: center

  h2
    margin: 0
    margin-bottom: 10px

  ul
    text-align: left
    padding: 0

  main
    text-align: center
    margin: 0 auto
  main > awddiv
    margin: 30px 0

  button
    background-color: black
    font-size: 14px
    padding: 0.5em
    padding-left: 1em
    padding-right: 1em
    border: none
    border-radius: 25px
    color: white
    margin-bottom: 20px


.addbutton
  background-color: #ff5840
  font-size: 13px
  border-radius: 25px
  min-width: 200px
  max-width: 10%
  padding: 0.5em
  margin-left: 0
  margin-bottom: 2em

  a:link
    color: white
    text-decoration: none
  a:visited
    color: white
  a:hover
    color: white
  a:active
    color: white

.ruruinfos
  font-size: 12px
  text-align: left
  margin-bottom: 1em
  th
    font-style: italic
  td
    padding: 0.4em
  th, td
    padding-left: 1em
    padding-right: 1em
