.adminpage {
  margin-left: 1em;
  margin-right: 1em; }

.addbutton {
  border: 1px solid green;
  background-color: green;
  min-width: 400px;
  width: 50%;
  padding: 0.5em;
  padding-left: 1em;
  margin-left: 2.5em;
  margin-bottom: 1em; }
  .addbutton a:link {
    color: white;
    text-decoration: none; }
  .addbutton a:visited {
    color: white; }
  .addbutton a:hover {
    color: white; }
  .addbutton a:active {
    color: white; }
