.adminpage {
  max-width: 1000px;
  margin: 0 auto;
  background-color: whitesmoke;
  padding: 30px 20px 60px 20px;
  box-sizing: border-box;
  text-align: center; }
  .adminpage h2 {
    margin: 0;
    margin-bottom: 10px; }
  .adminpage ul {
    text-align: left;
    padding: 0; }
  .adminpage main {
    text-align: center;
    margin: 0 auto; }
  .adminpage main > awddiv {
    margin: 30px 0; }
  .adminpage button {
    background-color: black;
    font-size: 14px;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    border: none;
    border-radius: 25px;
    color: white;
    margin-bottom: 20px; }

.addbutton {
  background-color: #ff5840;
  font-size: 13px;
  border-radius: 25px;
  min-width: 200px;
  max-width: 10%;
  padding: 0.5em;
  margin-left: 0;
  margin-bottom: 2em; }
  .addbutton a:link {
    color: white;
    text-decoration: none; }
  .addbutton a:visited {
    color: white; }
  .addbutton a:hover {
    color: white; }
  .addbutton a:active {
    color: white; }

.ruruinfos {
  font-size: 12px;
  text-align: left;
  margin-bottom: 1em; }
  .ruruinfos th {
    font-style: italic; }
  .ruruinfos td {
    padding: 0.4em; }
  .ruruinfos th, .ruruinfos td {
    padding-left: 1em;
    padding-right: 1em; }
