.adminpage
  margin-left: 1em
  margin-right: 1em
  max-width: 1000px
  margin: 0 auto
  background-color: rgb(245, 245, 245)
  padding: 30px 20px 60px 20px
  box-sizing: border-box

  h2
    margin: 0

  ul
    text-align: left
    padding: 0

  main
    text-align: center
    margin: 0 auto
  main > awddiv
    margin: 30px 0


.addbutton
  border: 1px solid green
  background-color: green
  min-width: 200px
  max-width: 10%
  padding: 0.5em
  padding-left: 1em
  margin-left: 0
  margin-bottom: 1em


  a:link
    color: white
    text-decoration: none
  a:visited
    color: white
  a:hover
    color: white
  a:active
    color: white

.ruruinfos
  font-size: 12px
  text-align: left
  th
    font-style: italic
  td
    padding: 0.4em
  th, td
    padding-left: 1em
    padding-right: 1em
