@import themeRuru.sass


.breadCrumb
  list-style-type: none
  margin: 0
  padding: 8px 0 15px 8px
  font-size: 13px

  a:link, a:visited, a:active
    color: $brown-dark
    text-decoration: none
  a:hover
    color: $brown-dark
    text-decoration: underline
  li
    display: inline-block
