@import themeRuru.sass

.categoryButton:nth-child(1)
  background-color: $green
.categoryButton:nth-child(2)
  background-color: $brown
.categoryButton:nth-child(3)
  background-color: $lilac
.categoryButton:nth-child(4)
  background-color: $pink

.categoryButton
  font-family: 'Roboto', sans-serif
  padding: 1em
  margin-bottom: 1em
  text-align: center

  .name
    font-size: 18px
    font-weight: bold

  .tagline
    margin-top: 0.5em
    font-size: 12px
    font-weight: normal

  a:link
    color: $white
    text-decoration: none
  a:visited
    color: $white
  a:hover
    color: $white
  a:active
    color: $white

  img
    height: 30px
    padding: 0.3em
