.categoryButton:nth-child(1) {
  background-color: #398b7d; }

.categoryButton:nth-child(2) {
  background-color: #987314; }

.categoryButton:nth-child(3) {
  background-color: #a16a81; }

.categoryButton:nth-child(4) {
  background-color: #e4676e; }

.categoryButton {
  font-family: 'Roboto', sans-serif;
  padding: 1em;
  margin-bottom: 1em;
  text-align: center;
  height: 140px;
  box-sizing: border-box; }
  .categoryButton .name {
    font-size: 18px;
    font-weight: bold; }
  .categoryButton .tagline {
    margin-top: 0.5em;
    font-size: 12px;
    font-weight: normal; }
  .categoryButton a:link {
    color: #ffffff;
    text-decoration: none; }
  .categoryButton a:visited {
    color: #ffffff; }
  .categoryButton a:hover {
    color: #ffffff; }
  .categoryButton a:active {
    color: #ffffff; }
  .categoryButton img {
    height: 30px;
    padding: 0.3em; }

@media screen and (min-width: 800px) {
  .categoryButton {
    width: 350px;
    margin-right: 10px; } }

@media screen and (max-width: 850px) {
  .categoryButton {
    width: 100%; } }
