@import themeRuru.sass

.categoryButton:nth-child(1)
  background-color: $green
.categoryButton:nth-child(2)
  background-color: $brown
.categoryButton:nth-child(3)
  background-color: $lilac
.categoryButton:nth-child(4)
  background-color: $pink
.categoryButton:nth-child(5)
  background-color: $green
.categoryButton:nth-child(6)
  background-color: $brown
.categoryButton:nth-child(7)
  background-color: $lilac
.categoryButton:nth-child(8)
  background-color: $pink

.categoryButton
  font-family: 'Roboto', sans-serif
  padding: 1em
  margin-bottom: 1em
  text-align: center
  // max-width: 350px
  // margin: 10px
  height: 140px
  box-sizing: border-box


  .name
    font-size: 18px
    font-weight: bold

  .tagline
    margin-top: 0.5em
    font-size: 12px
    font-weight: normal

  a:link
    color: $white
    text-decoration: none
  a:visited
    color: $white
  a:hover
    color: $white
  a:active
    color: $white

  img
    height: 30px
    padding: 0.3em


@media screen and (min-width: 800px)
  .categoryButton
    width: 350px
    margin-right: 10px
@media screen and (max-width: 850px)
  .categoryButton
     width: 100%
