.categoryButton {
  background-color: #EE644B;
  font-family: 'Roboto', sans-serif;
  padding: 1em;
  margin-bottom: 1em;
  text-align: center;
  font-weight: bold; }
  .categoryButton a:link {
    color: white;
    text-decoration: none; }
  .categoryButton a:visited {
    color: white; }
  .categoryButton a:hover {
    color: white; }
  .categoryButton a:active {
    color: white; }
  .categoryButton img {
    height: 30px;
    padding: 0.3em; }
