@import themeRuru.sass

.eventitem
  background-color: $white
  margin: 1em
  box-shadow: 0px 1px 4px grey
  padding: 1em

.event-details
  display: flex
  flex-direction: column
  text-align: left
  line-height: 0

  h2
    padding-top: 0.1em

.date
  float: left
  padding: 1.5em
  margin-right: 1em
  background-color: $brown-dark
  color: $white

.eyecon
  color: grey
  font-size: 13px

  img
    height: 1.2em
    padding-right: 1em

.smallcover
  padding-bottom: 0

  img
    width: 100%
