@import themeRuru.sass

.eventitem
  background-color: $white
  margin: 1em
  box-shadow: 0px 1px 4px grey
  padding: 1em




  a:link
    color: $white
    background-color: $brown-dark
    border-radius: 0.5em
    text-decoration: none
    padding: 0.4em
    padding-left: 1em
    padding-right: 1em
  a:visited
    color: $white
  a:hover
    color: $white
  a:active
    color: $white



.event-details
  display: flex
  flex-direction: column
  text-align: left
  display: block

  // line-height: 0\


  h2
    padding-top: 0.3em
    margin-top: 0
    display: block
    // width: 100px

.date
  float: left
  padding: 10px
  margin-right: 0.5em
  margin-top: 0.2em
  border-radius: 0.5em
  background-color: $lilac
  color: $white
  font-size: 12px
  width: 93%
  display: block
  margin-bottom: 15px

.eyecon
  color: grey
  font-size: 13px

  img
    height: 1.2em
    padding-right: 1em

.description
  padding-top: 0.5em
  text-align: left
  width: 90%
  font-weight: normal
  font-family: 'Open Sans', sans-serif
  font-size: 14px






.description-container
  margin-left: 15%
  margin-bottom: 40px

.smallcover

  overflow: hidden
  padding-bottom: 0

  img
    width: 100%

@media screen and (min-width: 800px)
  .smallcover
    height: 210px

@media screen and (min-width: 1010px)
  .eventitem
    width: 43%
    float: left
    height: 600px
