.footer
  background-color: black
  padding: 3em
  padding-bottom: 5em

.instagram
  color: white
  font-size: 25px
  float: right
  margin-right: 20px
  background-color: green
  padding: 10px
  border-radius: 50%

.footerPageLinks ul
  list-style-type: none
  padding-left: 1em
  margin: 0
  a:link
    color: white
    text-decoration: none
  a:visited
    color: white
  a:hover
    color: white
  a:active
    color: white
