.footer {
  background-color: #000000;
  padding: 3em;
  padding-bottom: 5em; }

.instagram {
  color: #ffffff;
  font-size: 25px;
  float: right;
  margin-right: 20px;
  background-color: #398b7d;
  padding: 10px;
  border-radius: 50%; }

.footerPageLinks ul {
  list-style-type: none;
  padding-left: 1em;
  margin: 0; }
  .footerPageLinks ul a:link {
    color: #ffffff;
    text-decoration: none; }
  .footerPageLinks ul a:visited {
    color: #ffffff; }
  .footerPageLinks ul a:hover {
    color: #ffffff; }
  .footerPageLinks ul a:active {
    color: #ffffff; }
