@import themeRuru.sass

.editor-container
  margin-left: 1em
  margin-right: 1em
  max-width: 1000px
  margin: 0 auto
  background-color: rgb(245, 245, 245)
  padding: 30px 0px 60px 0px
  box-sizing: border-box


.editor
  background-color: $green
  // min-width: 480px
  padding: 2em
  margin: 1em
  // margin-right: 5em
  border-radius: 20px

  p
    font-weight: bold
    // line-height: 0.2em
    margin: 5px 0
    span
      display: inline-block
      margin: 5px 0
    a
      color: $white
      background-color: $black
      text-decoration: none
      padding: 0.5em
      border-radius: 6px

  input
    width: 80%
    margin-bottom: 1em

  .check
    width: 2em

  .submitbutton
    width: 200px

  .instruction
    font-size: 12px
