@import themeRuru.sass

.listitem-admin
  list-style-type: none
  border: 1px solid grey
  margin-bottom: 0.2em
  min-width: 400px
  width: 50%
  padding: 0.5em
  padding-left: 1em

  a
    float: right
    margin-right: 1em
  a:link
    color: $brown
    text-decoration: none
  a:visited
    color: $brown
  a:hover
    color: $brown
  a:active
    color: $brown
