.menu-item
  background-color: #EE644B
  list-style: none
  margin-left: 0
  padding-left: 10px

  border-bottom: 1px solid white
  .menu-category
    overflow: hidden
  h1
    margin: 1px 0
    padding: 6px 0
    color: white
    font-family: 'Roboto', sans-serif
    float: left
  .down-arrow
    float: right
    margin: 5px 5px 0 0
    font-size: 35px
    color: white
.submenu
  display: block

.example-enter
  opacity: 0.01


.example-enter.example-enter-active
  opacity: 1
  transition: opacity 500ms ease-in


.example-leave
  opacity: 1


.example-leave.example-leave-active
  opacity: 0.01
  transition: opacity 300ms ease-in

.example-appear
  opacity: 0.01


.example-appear.example-appear-active
  opacity: 1
  transition: opacity .5s ease-in
