.slider-container
  // height: 500px





.silderimage
  // height: 200px
  // padding-bottom: 100px
  // vertical-align: bottom
  overflow: hidden
  img
    width: 100%


.slick-track
  height: 200px
  overflow: hidden

.slick-next
  right: 0 !important
  display: none !important

.slick-prev
  left: 0 !important
  z-index: 300
  display: none !important

@media screen and (min-width: 800px)
  .slick-track
    height: 300px
