.slideName {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100px;
  padding: 30px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5); }

.silderimage {
  position: relative;
  overflow: hidden; }
  .silderimage img {
    width: 100%; }

.slick-track {
  height: 180px;
  overflow: hidden; }

.slick-next {
  right: 0 !important;
  display: none !important; }

.slick-prev {
  left: 0 !important;
  z-index: 300;
  display: none !important; }

@media screen and (min-width: 800px) {
  .slick-track {
    height: 300px; } }
