.silderimage {
  height: 300px;
  overflow: hidden; }
  .silderimage img {
    width: 100%; }

.slick-track {
  height: 300px; }

.slick-next {
  right: 0 !important; }

.slick-prev {
  left: 0 !important;
  z-index: 300; }
